<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wat.edu.pl.visitapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_doctor_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".view.welcome.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.welcome.RegisterActivity"
            android:label="@string/registration"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".view.authenticated.MainActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".view.authenticated.activities.PrescriptionActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".view.authenticated.activities.RefferalActivity"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>